

/* CSS variables */

:root {
  --color-orange: #f56700;
 /*#ff6c00;*/
  --color-grey: #e5e5e5;
  --color-3: #003539;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'helvetica', sans-serif;
}

/*
  Styles frontpage
*/

header {
  background-color: var(--color-orange);
}

.header-content {
  height: 90vh;
  top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
}

.header-box {
  display: flex;
  height: auto;
  align-items: center;


}

.header-img-container {
  width: 50%;
  padding-right: 50px;


}


#header-img {
  width: 400px;
  height: auto;

}

.header-text {
  width: 50%;
  padding-left: 50px;
  display: flex;
  text-align: left;
  align-items: center;
  color: white;


}

h2 {
  font-size: 3rem;
}

.arrow-container{
  position: absolute;
  bottom: 2%;
  transition: transform 0.2s ease;
}

#arrow {
  height: 75px;
  width: auto;
  transition: transform 0.3s;
}

#arrow:hover{
  height: 85px;
  width: auto;
  -webkit-transform: scale(1.15);
  cursor: pointer;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: var(--color-orange);
  border-bottom-style: solid;
  border-color: white;
  border-width: 2px;
  z-index: 3;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;

}

.nav-logo {
  width: 80%;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}


.nav-links {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.nav-links li {
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  cursor: pointer;
}


a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.hover-effect {
  padding: 5px 0;

}
.hover-effect:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
}
.hover-effect:hover:before {
  transform: scaleX(1);
}





.menu {
  width: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}

.menu-text {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding-right: 5px;
  padding-top: 2px;
}


.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
  body {
    overflow-x: hidden;
  }

  .header-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-content {
    align-items: center;
    text-align: center;
  }
  #header-img {
    width: 300px;
    height: auto;
  }
  h2 {
    font-size: 2.5rem;
  }
  .header-img-container {
    padding: 0;
    width: 70%;
  }
  .header-text {
    padding-left: 5%;
    width: 70%;
  }


  .nav-links {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 10vh;
    margin: 0;
    padding: 25vh 0;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100vw;
    background-color: var(--color-orange);
    transition: transform 0.5s ease-in;
  }

  .menu {
    display: flex;
    cursor: pointer;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-links a {
    font-size: 1.5rem;
  }


  .nav-links li {
    opacity: 0;
  }

}

@media screen and (max-width: 375px){
  #header-img{
    width: 200px;
    height: auto;
  }
  h2 {
    font-size: 2rem;
  }
  .nav-logo {
    font-size: 1.5rem;
  }
  .nav-links a {
    padding: 1rem 3rem;
  }
}

/* Script classes */
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Main section (frontpage) */
main {
  margin-top: 4rem;
}
.row {
  padding: 6rem 10vw;
  display: flex;
  flex-direction: row;
}
.col-text {
  width: 50vw;
  height: auto;
}
.col-text h2 {
  color: var(--color-orange);
}
.col-text p {
  font-size: 1.4rem;
  line-height: 2rem;
}
.col-icon {
  width: 30vw;
  display: flex;
  padding-left: 10vw;
}

.img-container-storage {
  height: 80vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.img-container-storage img {
  width: 98vw;
}

.col-icon img {
  align-self: center;
  width: 12.5rem;
}

.read-more-button {
  color: black;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-style: solid;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  transition: 0.2s ease;
}
.read-more-button:hover {
  background-color: var(--color-orange);
  border-radius: 5px 5px 5px 5px;
  border-color: white;
  color: white;
  cursor: pointer;
}

.background-black {
  background-color: black;
}

.background-black .col-text p {
  color: white;
}

@media (max-width: 700px) {
  .row {
    padding: 5rem 15vw;
    display: flex;
    flex-direction: column;
  }
  .col-icon {
    margin-top: 3rem;
    padding-left: 0;
    width: 70vw;
    justify-content: center;
  }
  .col-text {
    padding: 2rem 0;
    width: 70vw;
  }
  .img-container-storage {
    height: auto;
  }
  .img-container-storage img {
    width: 100vw;
  }
}


/* Style for solution page -------------------------------------- */

/* Layer figure */
.layerfigure-container {
  height: auto;
  overflow: auto;
  margin: 1rem 10vw;

  /* Colors */
  --light: #ff6c00;
  --middle: #6c2e00;
  --dark: #575757;

  --layer-margin-top: 0rem;
  --layer-margin-left: 2rem;
  --pointer-height: 5px;
  --layer-text-padding: 0.2rem 1rem;

  --image-margin-top: calc(var(--layer-margin-top) + 12rem);

  --text-container-margin-right: 10vw;
}
.layer-text h2 {
  font-size: 1.5rem;
}
.layer-text li {
  font-size: 1rem;
}
.layer-text ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.mobile-image {
  display: none;
}
.layerfigure-image-container {
  float: right;
  position: relative;
}
.layerfigure-image-container picture img {
  margin: var(--image-margin-top) 0;
}
#layer-image {
  width: 25rem;
}
#layerfiguretxt {
  width: 23rem;
  margin-right: var(--text-container-margin-right);
}
.layerfigure-container > div {
  float: left;
}
.layerfigure-container > div input {
  position: absolute;
  margin: 0;
  height: 0;
  width: 0;
}
.layer-label:hover > .layer-text{
  background-color: var(--light);
  color: black;
  opacity: 1;
  cursor: pointer;
}
.layer-label > .layer-text {
  padding: var(--layer-text-padding);
  opacity: 0.3;
  border-radius: 1rem 1rem 1rem 1rem;
}
.layer-text li {
  padding: 0.5rem 0;
}

input[id*="layer"]:checked + label > .layer-text {
  opacity: 1;
}

#layer1:checked + label > .layer-text,
#layer2:checked + label > .layer-text,
#layer3:checked + label > .layer-text {
  background-color: black;
  color: white;
}
.layer-label {
  display: block;
  position: relative;
  margin: var(--layer-margin-top) var(--layer-margin-left);
}
#layer1:focus + label,
#layer2:focus + label,
#layer3:focus + label {
  border-style: solid;
  border-color: red;
  border-width: 0.2rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

/* Pointers */

[class*="pointer-layer"] {
  overflow: auto;
  height: var(--pointer-height);
  position: relative;
  display: inline-block;
  left: 20.5rem;
  opacity: 0;
  z-index: -1;
}
.pointer-layer1 {
  background-color: var(--light);
  width: calc(var(--text-container-margin-right) + 13rem);
  top: -9rem;
  transform: rotate(30deg);
  transform-origin: top left;
}
.pointer-layer2 {
  background-color: var(--middle);
  width: calc(var(--text-container-margin-right) + 7rem);
  top: -9.5rem;
}
.pointer-layer3 {
  background-color: var(--dark);
  width: calc(var(--text-container-margin-right) + 11rem);
  top: -16rem;
  transform: rotate(-20deg);
  transform-origin: top left;
}
#layer1:checked ~ .pointer-layer1,
#layer1:checked ~ .pointer-layer1-helper,
#layer2:checked ~ .pointer-layer2,
#layer3:checked ~ .pointer-layer3,
#layer3:checked ~ .pointer-layer3-helper {
  opacity: 1;
}

#HiddenLayer1,
#HiddenLayer2,
#HiddenLayer3 {
  display: none;
  position: absolute;
  top: 27rem;
  margin-left: var(--layer-margin-left);
  padding: var(--layer-text-padding);
  width: 60vw;
}

[id*="image-cover-"] {
  opacity: 0;
  position: absolute;
  width: 25rem;
  overflow: auto;
  z-index: 100;
  display: inline-block;
}
[id*="image-cover-"]:hover {
  cursor: pointer;
}
#image-cover-1 {
  top: var(--image-margin-top);
  height: 9rem;
  border-radius: 10px 10px 0 0;
}
#image-cover-2 {
  top: calc(var(--image-margin-top) + 9rem);
  height: 7rem;
}
#image-cover-3 {
  top: calc(var(--image-margin-top) + 9rem + 7rem);
  height: 8rem;
  border-radius: 0 0 10px 10px;
}
.pointer-layer1-helper {
  display: none;
  background-color: var(--light);
}
.pointer-layer3-helper {
  display: none;
  background-color: var(--dark);
}

@media (max-width: 1125px) {
  .layer-text p,
  .layer-text ul {
    display: none;
  }
  .layerfigure-container {
    --text-container-margin-right: 10vw;
    --image-margin-top: calc(var(--layer-margin-top) + 3rem);
    --left-variable: 10vw;
  }
  #layerfiguretxt {
    width: 17rem;
    position: absolute;
    left: 10vw;
  }
  .layerfigure-image-container {
    margin-left: calc(var(--text-container-margin-right) + 10rem);
  }
  [class*="pointer-layer"] {
    position: absolute;
  }
  .pointer-layer1 {
    width: calc(var(--text-container-margin-right) + 4rem);
    top: 3rem;
    transform: rotate(30deg);
    transform-origin: top left;
    left: calc(var(--left-variable) + 8rem);
  }
  .pointer-layer2 {
    width: calc(var(--text-container-margin-right) + 3rem);
    top: 12.2rem;
    transform: rotate(25deg);
    left: calc(var(--left-variable) + 7.5rem);
  }
  .pointer-layer3 {
    width: calc(var(--text-container-margin-right) + 2rem);
    top: 17rem;
    transform: rotate(20deg);
    transform-origin: top left;
    left: calc(var(--left-variable) + 8rem);
  }

  #layer1:checked ~ #HiddenLayer1 {
    display: inline-block;
  }
  #layer2:checked ~ #HiddenLayer2 {
    display: inline-block;
  }
  #layer3:checked ~ #HiddenLayer3 {
    display: inline-block;
  }
}

@media (max-width: 850px) {
  .layerfigure-container {
    --layer-margin-top: 1rem;
    --layer-margin-left: 2rem;

    --text-container-margin-right: 2vw;
    --image-margin-top: calc(var(--layer-margin-top) - 4rem);

    display: flex;
    flex-direction: column;
    height: 50rem;
  }
  .layerfigure-image-container {
    margin-left: 0;
    display: flex;
  }
  .pointer-layer1 {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    top: 0.7rem;
    left: 2rem;
    width: 15rem;
  }
  .pointer-layer1-helper {
    left: 1.68rem;
    border-radius: 5px 0 0 5px;
    width: 12rem;
    transform: rotate(-20deg);
    transform-origin: top left;
    top: -14.1rem;
    display: inline-block;
  }
  .pointer-layer2 {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    top: 0.7rem;
    left: 16rem;
    width: 12rem;
    z-index: 1;
  }
  .pointer-layer3 {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    top: 0.7rem;
    left: calc(24rem + 6vw);
    width: 3rem;
    z-index: 1;
    border-radius: 0 5px 5px 0;
  }
  .pointer-layer3-helper {
    left: calc(23.85rem + 6vw);
    border-radius: 5px 0 0 5px;
    width: 10rem;
    transform: rotate(-145deg);
    transform-origin: top left;
    top: -1.7rem;
    display: inline-block;
  }
  #layer-image-mobile {
    width: 23rem;
  }
  #layerfiguretxt {
    width: 100%;
    position: relative;
    float: right;
    display: block;
    left: 0vw;
  }
  .layer-label {
    display: inline-block;
    top: 0;
    left: 0;
    float: left;
    width: 25vw;
    margin: var(--layer-margin-top) 0;
    font-size: 2vw;
  }
  .mobile-remove {
    display: none;
  }
  .mobile-image {
    display: block;
    align-self: center;
  }

  #HiddenLayer1,
  #HiddenLayer2,
  #HiddenLayer3 {
    position: absolute;
    top: 8rem;
    left: 0;
    padding: var(--layer-text-padding);
    width: 60vw;
  }
  #HiddenLayer1 h2,
  #HiddenLayer2 h2,
  #HiddenLayer3 h2 {
    display: none;
  }

  #image-cover-1 {
    top: var(--image-margin-top);
    height: 12rem;
  }
  #image-cover-2 {
    top: calc(var(--image-margin-top) + 12rem);
    height: 7rem;
  }
  #image-cover-3 {
    top: calc(var(--image-margin-top) + 12rem + 7rem);
    height: 8rem;
  }
}

@media (max-width: 550px) {
  .layerfigure-container {
    height: calc(50rem - 10vw);
    overflow: hidden;
  }
  .layer-label {
    width: 99%;
    font-size: 0.8rem;
    margin: 0;
  }
  #HiddenLayer1,
  #HiddenLayer2,
  #HiddenLayer3 {
    top: calc(14rem - 6vw);
  }
  #layer-image-mobile {
    width: 19rem;
  }
  #image-cover-1 {
    top: var(--image-margin-top);
    height: 10em;
  }
  #image-cover-2 {
    top: calc(var(--image-margin-top) + 10rem);
    height: 5rem;
  }
  #image-cover-3 {
    top: calc(var(--image-margin-top) + 10rem + 5rem);
    height: 6.5rem;
  }
  .pointer-layer1 {
    z-index: 1;
    width: 14.1rem;
    top: -0.2rem;
  }
  .pointer-layer1-helper {
    width: 9rem;
  }
  .pointer-layer2 {
    top: 3.7rem;
    left: 15rem;
    width: 14rem;
  }
  .pointer-layer3 {
    transform-origin: bottom left;
    top: 7.2rem;
    left: calc(15rem + 6vw);
    width: 11rem;
    border-radius: 0 5px 5px 0;
  }
  .pointer-layer3-helper {
    display: none;
  }
}
