

/* CSS variables */

:root {
  --color-orange: #cc5d0c;
  --color-grey: #E0dee0;
  --color-3: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*
  Styles frontpage
*/

/* Header section */

.landingSection-image {

}
