

/* CSS variables */

:root {
  --color-orange: #cc5d0c;
  --color-grey: #E0dee0;
  --color-3: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

/*
  Styles frontpage
*/
.bg-img {
  background-image: url("");

  min-height: 100vh;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;


}

nav {
  display: flex;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-color: darkgrey;
}

.nav-logo {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 5px;
}

@media screen and (max-width:1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    left: 0;
    height: 94vh;
    top: 7vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }


  .nav-links a {
    font-size: 2rem;
  }
}

/* Header section */

.landingSection-image {

}
